In [128]:
# !pip install tensorflow

In [129]:
#import librabries
import tensorflow as tf
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, StandardScaler, OneHotEncoder
from sklearn.metrics import accuracy_score
from imblearn.over_sampling import SMOTE
from datetime import datetime
from sklearn.utils.class_weight import compute_class_weight
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization

In [130]:
risk_purchase_data = pd.read_csv('/content/risk-dataset.txt', delimiter="\t")

In [131]:
risk_purchase_data.head()

,ORDER_ID,CLASS,B_EMAIL,B_TELEFON,B_BIRTHDATE,FLAG_LRIDENTISCH,FLAG_NEWSLETTER,Z_METHODE,Z_CARD_ART,Z_CARD_VALID,...,FAIL_RPLZ,FAIL_RORT,FAIL_RPLZORTMATCH,SESSION_TIME,NEUKUNDE,AMOUNT_ORDER_PRE,VALUE_ORDER_PRE,DATE_LORDER,MAHN_AKT,MAHN_HOECHST
0,49917,no,yes,no,1/17/1973,yes,yes,check,?,5.2006,...,no,no,no,8,yes,0,0.00,?,?,?
1,49919,no,yes,yes,12/8/1970,no,no,credit_card,Visa,12.2007,...,yes,no,no,13,yes,0,0.00,?,?,?
2,49923,no,yes,no,4/3/1972,yes,no,check,?,12.2007,...,no,no,no,3,yes,0,0.00,?,?,?
3,49924,no,no,yes,8/1/1966,yes,no,check,?,1.2007,...,no,no,no,11,no,4,75.72,5/12/2002,0,0
4,49927,no,yes,yes,12/21/1969,yes,no,credit_card,Eurocard,12.2006,...,no,no,no,16,yes,0,0.00,?,?,?

In [132]:
risk_purchase_data.columns

Index(['ORDER_ID', 'CLASS', 'B_EMAIL', 'B_TELEFON', 'B_BIRTHDATE',
       'FLAG_LRIDENTISCH', 'FLAG_NEWSLETTER', 'Z_METHODE', 'Z_CARD_ART',
       'Z_CARD_VALID', 'Z_LAST_NAME', 'VALUE_ORDER', 'WEEKDAY_ORDER',
       'TIME_ORDER', 'AMOUNT_ORDER', 'ANUMMER_01', 'ANUMMER_02', 'ANUMMER_03',
       'ANUMMER_04', 'ANUMMER_05', 'ANUMMER_06', 'ANUMMER_07', 'ANUMMER_08',
       'ANUMMER_09', 'ANUMMER_10', 'CHK_LADR', 'CHK_RADR', 'CHK_KTO',
       'CHK_CARD', 'CHK_COOKIE', 'CHK_IP', 'FAIL_LPLZ', 'FAIL_LORT',
       'FAIL_LPLZORTMATCH', 'FAIL_RPLZ', 'FAIL_RORT', 'FAIL_RPLZORTMATCH',
       'SESSION_TIME', 'NEUKUNDE', 'AMOUNT_ORDER_PRE', 'VALUE_ORDER_PRE',
       'DATE_LORDER', 'MAHN_AKT', 'MAHN_HOECHST'],
      dtype='object')

In [133]:
risk_purchase_data.shape

(30000, 44)

In [134]:
risk_purchase_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 44 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ORDER_ID           30000 non-null  int64
 1   CLASS              30000 non-null  object
 2   B_EMAIL            30000 non-null  object
 3   B_TELEFON          30000 non-null  object
 4   B_BIRTHDATE        30000 non-null  object
 5   FLAG_LRIDENTISCH   30000 non-null  object
 6   FLAG_NEWSLETTER    30000 non-null  object
 7   Z_METHODE          30000 non-null  object
 8   Z_CARD_ART         30000 non-null  object
 9   Z_CARD_VALID       30000 non-null  float64
 10  Z_LAST_NAME        30000 non-null  object
 11  VALUE_ORDER        30000 non-null  float64
 12  WEEKDAY_ORDER      30000 non-null  object
 13  TIME_ORDER         30000 non-null  object
 14  AMOUNT_ORDER       30000 non-null  int64
 15  ANUMMER_01         30000 non-null  int64
 16  ANUMMER_02         30000 non-null  object
 17  ANUMMER_03         30000 non-null  object
 18  ANUMMER_04         30000 non-null  object
 19  ANUMMER_05         30000 non-null  object
 20  ANUMMER_06         30000 non-null  object
 21  ANUMMER_07         30000 non-null  object
 22  ANUMMER_08         30000 non-null  object
 23  ANUMMER_09         30000 non-null  object
 24  ANUMMER_10         30000 non-null  object
 25  CHK_LADR           30000 non-null  object
 26  CHK_RADR           30000 non-null  object
 27  CHK_KTO            30000 non-null  object
 28  CHK_CARD           30000 non-null  object
 29  CHK_COOKIE         30000 non-null  object
 30  CHK_IP             30000 non-null  object
 31  FAIL_LPLZ          30000 non-null  object
 32  FAIL_LORT          30000 non-null  object
 33  FAIL_LPLZORTMATCH  30000 non-null  object
 34  FAIL_RPLZ          30000 non-null  object
 35  FAIL_RORT          30000 non-null  object
 36  FAIL_RPLZORTMATCH  30000 non-null  object
 37  SESSION_TIME       30000 non-null  int64
 38  NEUKUNDE           30000 non-null  object
 39  AMOUNT_ORDER_PRE   30000 non-null  int64
 40  VALUE_ORDER_PRE    30000 non-null  float64
 41  DATE_LORDER        30000 non-null  object
 42  MAHN_AKT           30000 non-null  object
 43  MAHN_HOECHST       30000 non-null  object
dtypes: float64(3), int64(5), object(36)
memory usage: 10.1+ MB

In [135]:
risk_purchase_data.replace('?', np.nan, inplace=True)

<ipython-input-135-4f8e6bd467b4>:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  risk_purchase_data.replace('?', np.nan, inplace=True)

In [136]:
risk_purchase_data.isnull().sum()

ORDER_ID                 0
CLASS                    0
B_EMAIL                  0
B_TELEFON                0
B_BIRTHDATE           2942
FLAG_LRIDENTISCH         0
FLAG_NEWSLETTER          0
Z_METHODE                0
Z_CARD_ART           18654
Z_CARD_VALID             0
Z_LAST_NAME          14808
VALUE_ORDER              0
WEEKDAY_ORDER            0
TIME_ORDER              20
AMOUNT_ORDER             0
ANUMMER_01               0
ANUMMER_02           22147
ANUMMER_03           26802
ANUMMER_04           28668
ANUMMER_05           29459
ANUMMER_06           29794
ANUMMER_07           29905
ANUMMER_08           29966
ANUMMER_09           29993
ANUMMER_10           30000
CHK_LADR                 0
CHK_RADR                 0
CHK_KTO                  0
CHK_CARD                 0
CHK_COOKIE               0
CHK_IP                   0
FAIL_LPLZ                0
FAIL_LORT                0
FAIL_LPLZORTMATCH        0
FAIL_RPLZ                0
FAIL_RORT                0
FAIL_RPLZORTMATCH        0
SESSION_TIME             0
NEUKUNDE                 0
AMOUNT_ORDER_PRE         0
VALUE_ORDER_PRE          0
DATE_LORDER          15856
MAHN_AKT             15856
MAHN_HOECHST         15856
dtype: int64

In [137]:
def calculate_age(birthdate):
    if pd.isnull(birthdate):
        return 0
    today = datetime.today()
    return today.year - birthdate.year - ((today.month, today.day) < (birthdate.month, birthdate.day))

risk_purchase_data['B_BIRTHDATE'] = pd.to_datetime(risk_purchase_data['B_BIRTHDATE'], errors='coerce')

risk_purchase_data['Age'] = risk_purchase_data['B_BIRTHDATE'].apply(calculate_age)

In [138]:
columns_to_fill_zero = ['ANUMMER_01', 'ANUMMER_02', 'ANUMMER_03', 'ANUMMER_04',
                   'ANUMMER_05', 'ANUMMER_06', 'ANUMMER_07', 'ANUMMER_08',
                   'ANUMMER_09', 'ANUMMER_10','MAHN_AKT','MAHN_HOECHST']

risk_purchase_data[columns_to_fill_zero] = risk_purchase_data[columns_to_fill_zero].fillna(0)

In [139]:
risk_purchase_data['DATE_LORDER'] = pd.to_datetime(risk_purchase_data['DATE_LORDER'], errors='coerce')

current_date = datetime.today()

risk_purchase_data['days_since_last_order'] = risk_purchase_data['DATE_LORDER'].apply(
    lambda x: (current_date - x).days if pd.notna(x) else np.nan
)

In [140]:
risk_purchase_data['days_since_last_order'].describe()

count    14144.000000
mean      8119.665936
std        435.065889
min       7369.000000
25%       7741.000000
50%       8115.000000
75%       8499.000000
max       8868.000000
Name: days_since_last_order, dtype: float64

In [141]:
risk_purchase_data['Recency_Category'] = pd.cut(risk_purchase_data['days_since_last_order'],
                                                bins=[7000, 7500, 8000, 8500, 9000, float('inf')],
                                                labels=['New', 'Active', 'Lapsed', 'Churned', 'Long Gone'])
risk_purchase_data['Recency_Category'] = risk_purchase_data['Recency_Category'].cat.add_categories('Unknown')

In [142]:
columns_to_fill_unknown = ['Z_CARD_ART','Z_METHODE', 'Z_LAST_NAME','TIME_ORDER', 'Recency_Category' ]
risk_purchase_data[columns_to_fill_unknown] = risk_purchase_data[columns_to_fill_unknown].fillna('Unknown')

In [143]:
def categorize_time_order(time):
    if time:
        return 'Unknown'
    if time >= pd.to_datetime('00:00:00', format='%H:%M').time() and time < pd.to_datetime('06:00:00', format='%H:%M').time():
        return 'Early Morning'
    elif time >= pd.to_datetime('06:00:00', format='%H:%M').time() and time < pd.to_datetime('12:00:00', format='%H:%M').time():
        return 'Morning'
    elif time >= pd.to_datetime('12:00:00', format='%H:%M').time() and time < pd.to_datetime('17:00:00', format='%H:%M').time():
        return 'Afternoon'
    elif time >= pd.to_datetime('17:00:00', format='%H:%M').time() and time < pd.to_datetime('22:00:00', format='%H:%M').time():
        return 'Evening'
    else:
        return 'Late Night'

risk_purchase_data['TIME_ORDER'] = risk_purchase_data['TIME_ORDER'].apply(lambda x: pd.to_datetime(x, format='%H:%M').time() if x != 'Unknown' else x)

risk_purchase_data['Time_Order_Category'] = risk_purchase_data['TIME_ORDER'].apply(categorize_time_order)

In [144]:
risk_purchase_data['Z_CARD_VALID'].unique()

array([ 5.2006, 12.2007,  1.2007, 12.2006,  2.2007, 11.2007,  5.2005,
        9.2007, 11.2006,  2.2006,  6.2006,  3.2007,  6.2005,  6.2007,
        3.2005,  4.2005, 11.2005,  4.2006,  3.2006,  9.2006, 12.2005,
        8.2007, 10.2006,  2.2005,  7.2007, 10.2005,  7.2005,  8.2005,
        9.2005,  7.2006,  1.2006,  1.2005,  8.2006, 10.2007,  4.2007,
        5.2007])

In [145]:
risk_purchase_data['Z_CARD_VALID'] = pd.to_datetime(risk_purchase_data['Z_CARD_VALID'], format='%m.%Y', errors='coerce')
current_date = pd.to_datetime('today')
risk_purchase_data['Z_CARD_VALID'] = (risk_purchase_data['Z_CARD_VALID'] < current_date).astype(int)

In [146]:
yes_no_cols = ['B_EMAIL', 'B_TELEFON', 'FLAG_LRIDENTISCH', 'FLAG_NEWSLETTER', 'CHK_LADR',
               'CHK_RADR', 'CHK_KTO', 'CHK_CARD', 'CHK_COOKIE', 'CHK_IP', 'FAIL_LPLZ',
               'FAIL_LORT', 'FAIL_LPLZORTMATCH', 'FAIL_RPLZ', 'FAIL_RORT', 'FAIL_RPLZORTMATCH', 'NEUKUNDE']
for col in yes_no_cols:
    risk_purchase_data[col] = risk_purchase_data[col].map({'yes': 1, 'no': 0})

In [147]:
columns_to_convert = ['ANUMMER_02', 'ANUMMER_03', 'ANUMMER_04', 'ANUMMER_05', 'ANUMMER_06',
                      'ANUMMER_07', 'ANUMMER_08', 'ANUMMER_09', 'ANUMMER_10','MAHN_AKT','MAHN_HOECHST']
for col in columns_to_convert:
  risk_purchase_data[col] = pd.to_numeric(risk_purchase_data[col], errors='coerce')

In [148]:
risk_purchase_data['ANUMMER_10'].unique()

array([0.])

In [149]:
risk_purchase_data.drop(['ORDER_ID','B_BIRTHDATE','DATE_LORDER','days_since_last_order','TIME_ORDER','ANUMMER_10'], axis=1, inplace=True)

In [150]:
risk_purchase_data.isnull().sum()

CLASS                  0
B_EMAIL                0
B_TELEFON              0
FLAG_LRIDENTISCH       0
FLAG_NEWSLETTER        0
Z_METHODE              0
Z_CARD_ART             0
Z_CARD_VALID           0
Z_LAST_NAME            0
VALUE_ORDER            0
WEEKDAY_ORDER          0
AMOUNT_ORDER           0
ANUMMER_01             0
ANUMMER_02             0
ANUMMER_03             0
ANUMMER_04             0
ANUMMER_05             0
ANUMMER_06             0
ANUMMER_07             0
ANUMMER_08             0
ANUMMER_09             0
CHK_LADR               0
CHK_RADR               0
CHK_KTO                0
CHK_CARD               0
CHK_COOKIE             0
CHK_IP                 0
FAIL_LPLZ              0
FAIL_LORT              0
FAIL_LPLZORTMATCH      0
FAIL_RPLZ              0
FAIL_RORT              0
FAIL_RPLZORTMATCH      0
SESSION_TIME           0
NEUKUNDE               0
AMOUNT_ORDER_PRE       0
VALUE_ORDER_PRE        0
MAHN_AKT               0
MAHN_HOECHST           0
Age                    0
Recency_Category       0
Time_Order_Category    0
dtype: int64

In [151]:
X = risk_purchase_data.drop(columns=["CLASS"])
y = risk_purchase_data["CLASS"]

In [152]:
y = LabelEncoder().fit_transform(y)

In [153]:
X['WEEKDAY_ORDER'] = LabelEncoder().fit_transform(X['WEEKDAY_ORDER'])

In [154]:
object_category_columns = X.select_dtypes(include=['object', 'category']).columns
X = pd.get_dummies(X, columns=object_category_columns, drop_first=True).astype(int)

In [155]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 50 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   B_EMAIL                     30000 non-null  int64
 1   B_TELEFON                   30000 non-null  int64
 2   FLAG_LRIDENTISCH            30000 non-null  int64
 3   FLAG_NEWSLETTER             30000 non-null  int64
 4   Z_CARD_VALID                30000 non-null  int64
 5   VALUE_ORDER                 30000 non-null  int64
 6   WEEKDAY_ORDER               30000 non-null  int64
 7   AMOUNT_ORDER                30000 non-null  int64
 8   ANUMMER_01                  30000 non-null  int64
 9   ANUMMER_02                  30000 non-null  int64
 10  ANUMMER_03                  30000 non-null  int64
 11  ANUMMER_04                  30000 non-null  int64
 12  ANUMMER_05                  30000 non-null  int64
 13  ANUMMER_06                  30000 non-null  int64
 14  ANUMMER_07                  30000 non-null  int64
 15  ANUMMER_08                  30000 non-null  int64
 16  ANUMMER_09                  30000 non-null  int64
 17  CHK_LADR                    30000 non-null  int64
 18  CHK_RADR                    30000 non-null  int64
 19  CHK_KTO                     30000 non-null  int64
 20  CHK_CARD                    30000 non-null  int64
 21  CHK_COOKIE                  30000 non-null  int64
 22  CHK_IP                      30000 non-null  int64
 23  FAIL_LPLZ                   30000 non-null  int64
 24  FAIL_LORT                   30000 non-null  int64
 25  FAIL_LPLZORTMATCH           30000 non-null  int64
 26  FAIL_RPLZ                   30000 non-null  int64
 27  FAIL_RORT                   30000 non-null  int64
 28  FAIL_RPLZORTMATCH           30000 non-null  int64
 29  SESSION_TIME                30000 non-null  int64
 30  NEUKUNDE                    30000 non-null  int64
 31  AMOUNT_ORDER_PRE            30000 non-null  int64
 32  VALUE_ORDER_PRE             30000 non-null  int64
 33  MAHN_AKT                    30000 non-null  int64
 34  MAHN_HOECHST                30000 non-null  int64
 35  Age                         30000 non-null  int64
 36  Z_METHODE_credit_card       30000 non-null  int64
 37  Z_METHODE_debit_card        30000 non-null  int64
 38  Z_METHODE_debit_note        30000 non-null  int64
 39  Z_CARD_ART_Eurocard         30000 non-null  int64
 40  Z_CARD_ART_Unknown          30000 non-null  int64
 41  Z_CARD_ART_Visa             30000 non-null  int64
 42  Z_CARD_ART_debit_card       30000 non-null  int64
 43  Z_LAST_NAME_no              30000 non-null  int64
 44  Z_LAST_NAME_yes             30000 non-null  int64
 45  Recency_Category_Active     30000 non-null  int64
 46  Recency_Category_Lapsed     30000 non-null  int64
 47  Recency_Category_Churned    30000 non-null  int64
 48  Recency_Category_Long Gone  30000 non-null  int64
 49  Recency_Category_Unknown    30000 non-null  int64
dtypes: int64(50)
memory usage: 11.4 MB

In [156]:
X.head()

,B_EMAIL,B_TELEFON,FLAG_LRIDENTISCH,FLAG_NEWSLETTER,Z_CARD_VALID,VALUE_ORDER,WEEKDAY_ORDER,AMOUNT_ORDER,ANUMMER_01,ANUMMER_02,...,Z_CARD_ART_Unknown,Z_CARD_ART_Visa,Z_CARD_ART_debit_card,Z_LAST_NAME_no,Z_LAST_NAME_yes,Recency_Category_Active,Recency_Category_Lapsed,Recency_Category_Churned,Recency_Category_Long Gone,Recency_Category_Unknown
0,1,0,1,1,0,17,2,1,406811,0,...,1,0,0,0,0,0,0,0,0,1
1,1,1,0,0,0,18,6,1,600953,0,...,0,1,0,0,1,0,0,0,0,1
2,1,0,1,0,0,10,0,1,406310,0,...,1,0,0,0,0,0,0,0,0,1
3,0,1,1,0,0,54,0,1,307359,0,...,1,0,0,0,0,0,1,0,0,0
4,1,1,1,0,0,19,5,1,200767,0,...,0,0,0,0,1,0,0,0,0,1

In [157]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [158]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [159]:
smote = SMOTE(random_state=42)
X_train, y_train = smote.fit_resample(X_train, y_train)

In [160]:
class_weights = compute_class_weight(class_weight='balanced', classes=np.unique(y_train), y=y_train)
class_weight_dict = {i: class_weights[i] for i in range(len(class_weights))}
print("Class Weights:", class_weight_dict)

Class Weights: {0: np.float64(1.0), 1: np.float64(1.0)}

In [161]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    BatchNormalization(),
    Dropout(0.3),
    Dense(32, activation='relu'),
    Dropout(0.2),
    Dense(1, activation='sigmoid')
])

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [162]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [163]:
history = model.fit(X_train, y_train, epochs=20, batch_size=32, validation_data=(X_test, y_test), class_weight=class_weight_dict)

Epoch 1/20
1412/1412 ━━━━━━━━━━━━━━━━━━━━ 6s 2ms/step - accuracy: 0.6381 - loss: 0.6592 - val_accuracy: 0.6758 - val_loss: 0.6112
Epoch 2/20
1412/1412 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7111 - loss: 0.5660 - val_accuracy: 0.7050 - val_loss: 0.5541
Epoch 3/20
1412/1412 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.7237 - loss: 0.5470 - val_accuracy: 0.7012 - val_loss: 0.5628
Epoch 4/20
1412/1412 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.7325 - loss: 0.5323 - val_accuracy: 0.7148 - val_loss: 0.5424
Epoch 5/20
1412/1412 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7361 - loss: 0.5272 - val_accuracy: 0.6995 - val_loss: 0.5514
Epoch 6/20
1412/1412 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7465 - loss: 0.5151 - val_accuracy: 0.7130 - val_loss: 0.5339
Epoch 7/20
1412/1412 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7522 - loss: 0.5073 - val_accuracy: 0.7218 - val_loss: 0.5177
Epoch 8/20
1412/1412 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7584 - loss: 0.4992 - val_accuracy: 0.7130 - val_loss: 0.5230
Epoch 9/20
1412/1412 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - accuracy: 0.7578 - loss: 0.4966 - val_accuracy: 0.7088 - val_loss: 0.5373
Epoch 10/20
1412/1412 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7614 - loss: 0.4875 - val_accuracy: 0.7058 - val_loss: 0.5284
Epoch 11/20
1412/1412 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7657 - loss: 0.4854 - val_accuracy: 0.7063 - val_loss: 0.5303
Epoch 12/20
1412/1412 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.7649 - loss: 0.4800 - val_accuracy: 0.7120 - val_loss: 0.5088
Epoch 13/20
1412/1412 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7674 - loss: 0.4780 - val_accuracy: 0.7168 - val_loss: 0.5198
Epoch 14/20
1412/1412 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7721 - loss: 0.4747 - val_accuracy: 0.7133 - val_loss: 0.5205
Epoch 15/20
1412/1412 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.7715 - loss: 0.4712 - val_accuracy: 0.7172 - val_loss: 0.5136
Epoch 16/20
1412/1412 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7711 - loss: 0.4712 - val_accuracy: 0.7240 - val_loss: 0.4873
Epoch 17/20
1412/1412 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.7780 - loss: 0.4621 - val_accuracy: 0.7280 - val_loss: 0.5096
Epoch 18/20
1412/1412 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - accuracy: 0.7782 - loss: 0.4626 - val_accuracy: 0.7170 - val_loss: 0.5081
Epoch 19/20
1412/1412 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7792 - loss: 0.4598 - val_accuracy: 0.7113 - val_loss: 0.5254
Epoch 20/20
1412/1412 ━━━━━━━━━━━━━━━━━━━━ 5s 2ms/step - accuracy: 0.7825 - loss: 0.4533 - val_accuracy: 0.7190 - val_loss: 0.5022

In [166]:
loss, accuracy = model.evaluate(X_train, y_train)
print(f"Test Accuracy: {accuracy:.4f}")

1412/1412 ━━━━━━━━━━━━━━━━━━━━ 4s 2ms/step - accuracy: 0.7668 - loss: 0.4306
Test Accuracy: 0.8259

In [164]:
loss, accuracy = model.evaluate(X_test, y_test)
print(f"Test Accuracy: {accuracy:.4f}")

188/188 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7053 - loss: 0.5249
Test Accuracy: 0.7190